.collections {
  .shoes {
    display: flex;
    margin: 10px auto;
    width: 1220px;
    .left {
      overflow: hidden;
      margin-right: 20px;
      position: relative;
      .frame {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 530px;
        height: 510px;
        z-index: 1;
        border: 2px solid white;
        transform: translate(-50%, -50%);
      }
      span {
        position: absolute;
        top: 35px;
        left: 64px;
        z-index: 2;
        background-color: white;
        width: 315px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      button {
        width: 155px;
        height: 42px;
        border: none;
        outline: none;
        background-color: white;
        position: absolute;
        bottom: 35px;
        left: 223px;
        z-index: 2;
      }
      &:hover {
        img {
          transform: scale(1.1);
          transition: ease-in 0.5s;
        }
      }
    }
    .right {
      .right-div {
        margin-bottom: 20px;
      }
      div {
        position: relative;
        overflow: hidden;
        color: rgb(255, 255, 255);

        &:hover {
          img {
            transform: scale(1.1);
            transition: ease-in 0.5s;
          }
        }
        span {
          position: absolute;
          bottom: 63px;
          left: 39px;
          font-weight: bold;
          text-shadow: 1px 1px 5px black;
          font-size: 22px;
        }
        a {
          position: absolute;
          bottom: 41px;
          left: 39px;
          text-decoration: underline;
          text-shadow: 1px 1px 5px black;
        }
      }
    }
  }
}
