.collections {
  .shoes {
    display: flex;
    margin: 10px auto;
    width: 1220px;
    .left {
      overflow: hidden;
      margin-right: 20px;
      position: relative;
      .frame {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 530px;
        height: 510px;
        z-index: 1;
        border: 2px solid white;
        transform: translate(-50%, -50%);
      }
      span {
        position: absolute;
        top: 35px;
        left: 64px;
        z-index: 2;
        background-color: white;
        width: 315px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      button {
        width: 155px;
        height: 42px;
        border: none;
        outline: none;
        background-color: white;
        position: absolute;
        bottom: 35px;
        left: 223px;
        z-index: 2;
      }
      &:hover {
        img {
          transform: scale(1.1);
          transition: ease-in 0.5s;
        }
      }
    }
    .right {
      .right-div {
        margin-bottom: 20px;
      }
      div {
        position: relative;
        overflow: hidden;
        color: rgb(255, 255, 255);

        &:hover {
          img {
            transform: scale(1.1);
            transition: ease-in 0.5s;
          }
        }
        span {
          position: absolute;
          bottom: 63px;
          left: 39px;
          font-weight: bold;
          text-shadow: 1px 1px 5px black;
          font-size: 22px;
        }
        a {
          position: absolute;
          bottom: 41px;
          left: 39px;
          text-decoration: underline;
          text-shadow: 1px 1px 5px black;
        }
      }
    }
  }

  .new-in {
    width: 1200px;
    height: 600px;
    // background-color: blue;
    margin: 20px auto;
    .new-in-header {
      text-align: center;
      margin: 30px 0;
    }
    .new-in-item {
      padding: 10px;
      width: 300px;
      height: 440px;
      overflow: hidden;
      .descriptions {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px auto;
        span {
          margin-bottom: 5px;
        }
        .item-name {
          font-weight: bold;
        }
        .vat {
          color: rgb(177, 176, 176);
          font-size: 10px;
        }
        .discount {
          color: rgb(177, 176, 176);
          margin-right: 5px;
          text-decoration-line: line-through;
        }
      }

      .item-img {
        position: relative;
        object-fit: cover;
        img {
          width: 260px;
          height: 260px;
        }
        span {
          position: absolute;
          width: 61px;
          height: 17px;
          font-size: 9px;
          top: 10px;
          right: 30px;
          background-color: rgb(230, 227, 227);
          border: 1px solid #555;
          text-align: center;
          padding: 2px auto;
          line-height: 1.7;
        }
      }
    }
  }
}
.categories {
  display: flex;
  width: 1240px;
  height: 325px;
  margin: 20px auto;
  .woman {
    position: relative;
    overflow: hidden;
    object-fit: cover;
    width: 620px;
    height: 325px;
    img {
      width: 620px;
      height: 325px;
    }
    &:hover {
      img {
        transform: scale(1.1);
        transition: ease-in 1s;
      }
    }
    span {
      position: absolute;
      background: white;
      width: 120px;
      height: 42px;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .men {
    position: relative;
    overflow: hidden;

    width: 620px;
    height: 325px;
    img {
      position: absolute;
      left: -100%;
      width: 1240px;
    }
    &:hover {
      img {
        transform: scale(1.1);
        transition: ease-in 1s;
      }
    }
    span {
      position: absolute;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;

      width: 120px;
      height: 42px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.slick-prev::before,
.slick-next::before {
  opacity: 1;
  font-size: 35px;
  color: #555;
  margin-right: 10px;
}

.for-you {
  width: 1240px;
  height: 450px;
  margin: 20px auto;
  .for-you-header {
    text-align: center;
  }
  .for-you-next {
    margin-left: 10px;
  }
  .for-you-item {
    display: block;
    position: relative;
    margin: 0 10px;
    overflow: hidden;
    &:hover {
      img {
        transform: scale(1.1);
        transition: ease-in 1s;
      }
    }
    img {
      width: 280px;
      height: 300px;
    }
    span {
      position: absolute;
      bottom: 23px;
      left: 50%;
      transform: translateX(-50%);
      color: white;
      text-align: center;
      font-size: 20px;
      font-weight: bolder;
      width: 200px;
      text-shadow: 1px 1px 8px black;
    }
  }
}
