.container-slider {
  max-width: 1440px;
  height: 610px;
  margin: 100px auto 0;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 700px) {
  .container-slider {
    margin: 100px 10px 0;
  }
}
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-info {
  padding: 40px;
  width: 500px;
  height: 300px;
  position: absolute;
  bottom: 50px;
  right: 50px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  .line-slider {
    display: none;
  }
  .item-title {
    font-size: 30px;
  }
  a {
    text-decoration: underline;
    border-bottom: 1px solid black;
    font-weight: bold;
  }
  .line {
    margin: 20px 20px 0 0;
    display: block;
    align-self: flex-start;
    width: 80px;
    height: 0;
    border: 1px solid #2c2b2b;
  }
}
.active-anim {
  opacity: 1;
}

.btn-slide {
  width: 40px;
  height: 40px;
  // border-radius: 50%;
  background: #f1f1f1;
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-slide img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}
.prev {
  top: 50%;
  left: 35px;
  &:hover {
    transform: translate(-10px);
  }
}
.next {
  top: 50%;
  right: 35px;
  &:hover {
    transform: translate(10px);
  }
}

.container-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  width: 70px;
  height: 0;
  border-radius: 10%;
  border: 2px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
}
.dot.active {
  border: 2px solid #999;
}

@media screen and (max-width: 375px) {
  .container-slider {
    width: 360px;
    height: 534px;
    img {
      width: 345px;
    }

    .img-info {
      width: 308px;
      height: 280px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 100;
      background: hsla(0, 0%, 100%, 0.9);

      .item-title {
        font-size: 24px;
        font-weight: bolder;
      }

      .line {
        display: none;
      }
      .line-slider {
        display: block;
        height: 2px;
        width: 80px;
        background: #555;
        margin-top: 15px;
      }
      a {
        font-weight: bolder;
      }
      div {
        p {
          margin: 20px 0;
        }
      }
    }
    .prev {
      left: 10px;
    }
    .next {
      right: 15px;
    }
  }
}
